<div class="login_body">
	<form action='/users/login' method='post'>
	  <input type='text' placeholder="User Name" name="username">
	  <input type='password' placeholder="Password" name='password'>
	  <input type='submit' value='Log In'>
	</form>
</div>
