<h1>Your previous rounds</h1>

<%@rounds.each do |round|%>
<%deck = round.deck_id%>
<p> When you played <%=deck%> you got <%=round.score%> wrong on the first play through, and you guessed a total of <%=round.total_guesses%> times. <p> <br>
  <%end%>