<h2><%=@deck.name%></h2>

<!-- <%@cards.each do |card|%> -->
<p><%=cards[0].question%></p>
<form action='/decks/:deck_id/cards' method='post'>
  <input type='radio' name='answer' value='true'> True <br>
  <input type='radio' name='answer' value='false'> False <br>
  <input type='submit' value='Next Question'>
</form>

<!-- <%end%> -->