.login_body {
	clear: both;
	margin: 100px 0px 0px 200px;
}

.login_body input {
	width: 400px;
	display: block;
	margin-top: 15px;
	border-radius: 5%;
}

.login_body input[type="submit"] {
	width:100px;
	border-radius: 5%;
	background-color: #3a5795;
	color: #96accb;
	box-shadow: 2px 2px gray;
}